
    body{    
        text-decoration: underline BLACK;
        font-family: fantasy;
        background-color:whitesmoke;
        background-image:url(/Users/victoriajackson/My-Portfolio/assets/images/trend.jpg);
        background-size:cover;
        border-block-start-color: black;
        
        
        
         
        }
    .jumbotron{
              background-color:lightgray;
              color:black;
              border-block-start-color:  black;
              border-block-end-color: black;
              
            
          
              
        }
    .navbar {
            background-color:whitesmoke;
            margin-bottom: 0;
            border-radius: 0;
            font-family: fantasy;
            color: black;
            border-block-start: black;
            border-block-end-style: dotted;
            border-block-end-width: 20%;
      
        }
          
          
    footer {
            background-color:whitesmoke;
            padding: 25px;
            border-block-start-color: black;
            
        }